* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Grid Display */
.display-flex {
  display: flex;
}

.item__100 {
  flex: 0 0 1;
}

.item__75 {
  flex: 0 0 75%;
}

.item__50 {
  flex: 0 0 50%;
}

.item__25 {
  flex: 0 0 25%;
}

.justify-content-end {
  justify-content: flex-end;
}

.flex-direction-column {
  flex-direction: column;
}

.gap__5 {
  gap: 5px;
}

.background-color__red {
  background-color: red;
}

.background-color__green {
  background-color: green;
}
