html {
  box-sizing: border-box;
  font-family: "Inter";
}

body {
  margin: 0;
  padding: 0;
}

section {
  height: 100vh;
  padding: 12px;
  /* background-size: contain; */
}

header {
  padding-bottom: 13px;
}

h1 {
  color: white;
  font-size: 40px;
  font-weight: 700;
  margin: 0;
}

h2 {
  color: #ef7d00;
  font-weight: 300;
  font-size: 20px;
  margin: 0;
}

p {
  margin: 0;
}

button {
  background-color: #ef7d00;
  color: white;
  border-radius: 6px;
  padding: 12px 24px;
  border: none;
}

figcaption {
  padding: 15px;
  margin-bottom: 18px;
}

/* Selectores de clase */

.title-description {
  color: white;
  font-weight: 300;
  font-size: 20px;
  margin: 0;
  margin-bottom: 12px;
}

/* Hero Section */
.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-background {
  background-image: url(../background/test-landing-id3\ 1.jpg);
  background-size: cover;
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Student-Design Section */

.student-proyect {
  background-color: #333;
  padding: 0 15px;
  border-radius: 6px;
}

.buttoncontainer {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
}

.buttoncontainer button {
  background-color: #333;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Font-size */
.page-title-size {
  font-size: 48px;
}

.fs-10 {
  font-size: 10px;
}

.fs-15 {
  font-size: 15px;
}

/* Font-weight */
.fw-300 {
  font-weight: 300;
}

.fw-600 {
  font-weight: 600;
}

/* Colors */
.color-orange {
  color: #ef7d00;
}

.color-gray {
  color: #333;
}

.color-white {
  color: white;
}

/* Margin */
.margin-tb-48 {
  margin: 48px 0;
}

.margin-bottom-12 {
  margin-bottom: 12px;
}
