html {
  box-sizing: border-box;
  font-family: "Inter";
}

body {
  margin: 0;
  padding: 0;
}

section {
  padding: 12px;
  /* background-size: contain; */
}

header {
  padding-bottom: 13px;
}

h1 {
  color: white;
  font-size: 40px;
  font-weight: 700;
  margin: 0;
}

h2 {
  color: #ef7d00;
  font-weight: 300;
  font-size: 20px;
  margin: 0;
}

p {
  margin: 0;
}

figcaption {
  padding: 15px;
  margin-bottom: 18px;
}

/* Selectores de clase */

/* Botones */
.btn {
  background-color: #ef7d00;
  color: white;
  border-radius: 6px;
  padding: 12px 24px;
  border: none;
}

/* Section Properties */
.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-background {
  background-image: url(../background/test-landing-id3\ 1.jpg);
  background-size: cover;
}

.hero-title--description {
  color: white;
  font-weight: 300;
  font-size: 20px;
  margin: 0;
  margin-bottom: 12px;
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.section-height-without-48 {
  height: calc(100vh - 120px);
}

.section-img--background {
  background-color: #333;
  padding: 0 15px;
  border-radius: 6px;
  margin: 12px 0;
}

.section-buttoncontainer {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  width: 100%;
}

.buttoncontainer a {
  background-color: #333;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Display */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.flex-center--column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Font-size */
.h2-fs--48 {
  font-size: 48px;
}

.fs-10 {
  font-size: 10px;
}

.fs-15 {
  font-size: 15px;
}

.fs-20 {
  font-size: 20px;
}

/* Font-weight */
.fw-300 {
  font-weight: 300;
}

.fw-600 {
  font-weight: 600;
}

/* Heigth */

.height-100vh {
  height: 100vh;
}

.height-100vh-48px {
  height: calc(100vh-96px);
}

/* Colors */
.color-orange {
  color: #ef7d00;
}

.color-gray {
  color: #333;
}

.color-white {
  color: white;
}

/* Background-color */
.background-color-gray {
  background-color: #eef0f5;
}

/* Margin */
.margin-12px {
  margin: 12px;
}

.margin-tb--48 {
  margin: 48px 0;
}

.margin-bottom--12 {
  margin-bottom: 12px;
}

.margin-bottom--48 {
  margin-bottom: 48px;
}

.margin-bottom--58 {
  margin-bottom: 58px;
}

.margin-bottom--84 {
  margin-bottom: 84px;
}

.margin-none {
  margin: 0;
}

/* Padding */
.padding-tb--72 {
  padding: 72px 0;
}

.padding-left--10 {
  padding-left: 10px;
}

/* Text-Align */

.text-align--center {
  text-align: center;
}
